# Ignore everything by default
*

# But don't ignore directories
!*/

# Don't ignore source files, headers, and markdown
!*.cpp
!*.h
!*.md

# Don't ignore specific files
!LICENSE
!.gitignore

# Ignore VS Code folder
.vscode/
